.textToSpeechButton {
    width: 30%;
    font-size: 25px;
    padding: 0px 5px;
    border-radius: 50px;
    border: 0px;
    background-color: transparent;
    transition: all 0.25s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.textToSpeechButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.clickedTextToSpeechButton {
    width: 30%;
    font-size: 25px;
    padding: 0px 5px;
    border-radius: 50px;
    border: 0px;
    background-color: rgb(74, 183, 255);
    color: white;
    transition: all 0.25s;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: all 0.25s;
}

.icon {
    padding: 4px 3px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .textToSpeechButton, .clickedTextToSpeechButton {
        display: none;
    }
}